[submodule "Albedo/dependencies/spdlog"]
	path = Albedo/dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Albedo/dependencies/GLFW"]
	path = Albedo/dependencies/GLFW
	url = https://github.com/nelsonsteve799/glfw
[submodule "Albedo/dependencies/imgui"]
	path = Albedo/dependencies/imgui
	url = https://github.com/nelsonsteve799/imgui.git
[submodule "Albedo/dependencies/glm"]
	path = Albedo/dependencies/glm
	url = https://github.com/nelsonsteve799/glm.git
